[run]
source = backend
omit =
    */migrations/*
    */tests/*
    **/__init__.py
    **/signals.py
    */schemas/*
    **/admin/**
    admin.py
    manage.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if __name__ == .__main__.:
