PYTHONPATH=backend
PYTHONUNBUFFERED=1

DJANGO_SETTINGS_MODULE="core.config.django.local"
DJANGO_SECRET_KEY=yourtotalseecretkey
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost,0.0.0.0,api.prunplanner.org,prunplanner.org"

# DATABASE
DATABASE_NAME='prunplanner'
DATABASE_USER='prunplanner'
DATABASE_PASSWORD='prunplanner'
DATABASE_HOST='localhost'
DATABASE_PORT=5432

# CACHE
CACHE_DEFAULT_LOCATION='redis://default:prunplanner@localhost:6379/0'

# CELERY
CELERY_BROKER_URL='redis://default:prunplanner@localhost:6379/1'
CELERY_RESULT_BACKEND='redis://default:prunplanner@localhost:6379/1'

# REST_FRAMEWORK
REST_FRAMEWORK_ACCESS_TOKEN_LIFETIME=15
REST_FRAMEWORK_REFRESH_TOKEN_LIFETIME=10080

# EMAIL
EMAIL_RESEND_API_KEY='resend_api_key'
EMAIL_FROM_EMAIL='PRUNplanner <noreply@prunplanner.org>'
EMAIL_VERIFICATION_EXPIRY_MINUTES=30
EMAIL_PASSWORD_RESET_EXPIRY_MINUTES=30

